/* --------------------------------------------
  * 공통 클래스 */

/* 숨김 제목 및 콘텐츠 */
.a11y-hidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 목록 요소 기본 스타일 초기화 */
.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}