.sign-up-container{
    margin: 0 auto;
}

.sign-up{
    width: 742px;
    height: 1534px;
    margin: 100px auto;
    color: var(--main-color-gold);
    border: 1px solid #CBC5BE;
    background: url(../image/signup/Barista.svg) no-repeat 100% 100%;
}

/* 폼 헤더 */
.sign-up__header{
    text-align: center;
    border-bottom: 1px solid var(--main-color-gold);
    
}
.sign-up__header h2 {
    font-size: 3.2rem;
    font-weight: 700;
    margin: 0;
    padding-top: 25px;
}
.sign-up__header p {
    font-size: 1.6rem;
    font-weight: 400;
}

/* 폼 메인 */
.sign-up__main{
    display: flex;
    flex-flow: column nowrap;
    padding: 165px 150px 50px 150px;
    background: url(../image/signup/BaristaGirl.svg) no-repeat 50% 3%;
}

.sign-up__main label,
.label-style{
    font-weight: 700;
}
.sign-up__main input{
    display: block;
    width: 100%;
    height: 34px;
    margin: 10px 0;
    border: 1px solid var(--main-color-gold);
    border-radius: 3px;
}

/* 필수목록 별표 표시 */
.fill-required{
    position: relative;
}
.fill-required::after{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: -10px;
    width: 6px;
    height: 6px;
    background: url(../image/signup/requiredStar.svg) no-repeat;
}

/* 이름, 성별란 스타일 */
.sign-up-form__name{
    display: inline-block;
    width:40%;
    margin-right: 10px;
}
.sign-up-form__sex{
    display: inline-block;
    width: 45%;
    vertical-align: bottom;
}
.radio-sex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}
.radio-sex input{
    width: 20px;
}

/* 생년월일 */
.birth-container{
    margin: 10px 0;
}

.birth-container select{
    border: 1px solid var(--main-color-gold);
    border-radius: 3px;
    color: var(--main-color-gold);
    margin-right: 10px;
}
#birthYear{
    width: 133px;
}
#birthMonth,
#birthDay,
#birthCalender{
    width: 66px;
}

.small-star::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url(../image/signup/Star.svg) no-repeat;
}

/* 전화번호 */
.sign-up-form__Tel{
    margin: 10px 0;
}

/* 닉네임 */
.sign-up-form__nickname{
    margin: 10px 0;
}

/* 이용약관 */
/* 동의하기 토글버튼 */
/* 레이블 폰트 관련 스타일 및 토글 바탕 만들기 */
.option-save label{
    position: relative;
    left: 400px;
    text-indent: -400px;
    display: block;
    cursor: pointer;
    width: 34px;
    height: 14px;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
    background: #CFCCC7;
    border-radius: 25px;
    opacity: 0.5;
    color: var(--main-color-gold);
    font-weight: 700;
}

/* 체크박스 골라서 안보이게함 */
.option-save .option-input {
    height: 0;
    width: 0;
}

/* 가상요소로 토글 버튼 만들기 */
.option-save label:after{
    content: '';
    position: absolute;
    top: -2px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #CFCCC7;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    opacity: 1;
    border-radius: 50%;
    transition: 0.3s;
}

/* 체크했을 경우 토글 바탕 상태 */
.option-input:checked+label {
    background: var(--main-color-gold);
    opacity: 0.6;
}

/* 체크했을 경우 토글 버튼 상태 */
.option-input:checked+label:after {
    background: var(--main-color-gold);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    transform: translateX(100%);
    opacity: 1;
}
/* 이용약관 - 내용 */
.sign-up-form__consent {
}
.option-save {
    height: 40px;
}
.sign-up-form__consent small:nth-child(2) {
    background-color: var(--grayscale-white);
    /* text box로 만들기 */
    display: block;
    width: 438px;
    height: 169px;
    overflow: auto;
    padding: 17px 4px 17px 17px;
    border-radius: 5px;
    border: 1px solid rgba(125, 111, 93, 0.3);
    margin-bottom: 30px;
    /* 글꼴 꾸미기 */
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    white-space: pre-line;
}
/* 스크롤바 커스텀 */
.sign-up-form__consent small:nth-child(2)::-webkit-scrollbar { 
    width: 30px;
}
.sign-up-form__consent small:nth-child(2)::-webkit-scrollbar-track {
    background-color: var(--grayscale-white);
    width: 4px;
}
.sign-up-form__consent small:nth-child(2)::-webkit-scrollbar-thumb {
    background: url(../image/signup/scrollbar.png);
    width: 30px;
}
.sign-up-form__consent small:nth-child(2)::-webkit-scrollbar-button {
    background-color: var(--grayscale-white);
}

/* 하단 별표 문구 글꼴 디자인 */
.small-star {
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
}

/* 회원가입 폼 버튼 */
.sign-up-button{
    cursor: pointer;
    width: 100%;
    height: 46px;
    margin: 20px 0;
    color: var(--grayscale-white);
    background-color: var(--main-color-gold);
    border: 1px solid var(--main-color-gold);
    border-radius: 3px;
}