<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="이디야 커피 브랜드 사이트 (학습용) 홈페이지입니다." />
    <meta name="keywords" content="이디야, 커피, 브랜드, 사이트, 학습용, 홈페이지, 이듬, 블렌디드 러닝" />
    <meta name="author" content="이듬(E.UID)" />
    <title>cafe W</title>

    <link rel="preload" as="style" href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" />
    <link rel="preload" as="style" href="../css/style.css" />

    <!-- 스타일링 -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preload" as="style" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
</head>

<body>
    <!-- 본문 바로가기 -->
    <div class="skip-nav" tabindex="0"><a href="#content">본문 바로가기</a></div>

    <!-- 헤더 영역 -->
    <header class="app-header">
        <h1 class="app-header__logo">
            <a href="../index.html"><img src="../image/header/CafeW_logo.svg" alt="cafe W"></a>
        </h1>

        <ul class="app-header__sign reset-list">
            <li><a href="./signIn.html">Sign In</a></li>
            <li><a href="./signUp.html">Sign Up</a></li>
        </ul>

        <!-- 헤더 검색 영역 -->
        <h2 class="a11y-hidden">검색</h2>
        <form class="app-header__search-form" action="https://formspree.io/f/meqpzjke" method="POST">
            <fieldset>
                <legend>검색폼</legend>
                <div class="search-container">
                    <label for="search" aria-label="검색"></label>
                    <input type="search" id="search" name="search" required>
                    <button class="search-container__btn-search" type="submit" aria-label="검색버튼"></button>
                </div>
            </fieldset>
        </form>
    </header>

    <!-- 네비게이션 영역 -->
    <nav class="app-navigation">
        <h2 class="a11y-hidden">메인 메뉴</h2>
        <ul class="app-navigation__menu reset-list">
            <li class="menu-item">
                <a href="#" class="menu-button">Drinks</a>
                <ul class="sub-menu sub-menu1 reset-list">
                    <li>
                        <a href="#">콜드 브루</a>
                    </li>
                    <li>
                        <a href="#">에스프레소</a>
                    </li>
                    <li>
                        <a href="#">기타 제조 음료</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-button">Foods</a>
                <ul class="sub-menu sub-menu2 reset-list">
                    <li>
                        <a href="#">베이커리</a>
                    </li>
                    <li>
                        <a href="#">케익</a>
                    </li>
                    <li>
                        <a href="#">샌드위치 & 샐러드</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-button">Products</a>
                <ul class="sub-menu sub-menu3 reset-list">
                    <li>
                        <a href="#">머그</a>
                    </li>
                    <li>
                        <a href="#">텀블러</a>
                    </li>
                    <li>
                        <a href="#">커피용품</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-button">Lectures</a>
                <ul class="sub-menu sub-menu4 reset-list">
                    <li>
                        <a href="#">UI 구조 디자인</a>
                    </li>
                    <li>
                        <a href="#">인터렉션 주니어</a>
                    </li>
                    <li>
                        <a href="#">리엑트 프로그래밍</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-button">Customer Service</a>
                <ul class="sub-menu sub-menu5 reset-list">
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                    <li>
                        <a href="#">추천 채널</a>
                    </li>
                    <li>
                        <a href="#">체크 리스트</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- 메인 -->
    <main class="app-main">
        <div class="sign-in-container">
            <div class="sign-in-blur">
                <section class="sign-in">
                    <header class="sign-in__header">
                        <h2 class="sign-in__heading">SIGN IN</h2>
                        <p>환영합니다. 이 곳은 CAFE W 입니다.</p>
                    </header>

                    <div class="sign-in__main">
                        <form action="https://formspree.io/f/meqpzjke" method="POST" class="sign-in-form">
                            <fieldset>

                                <legend>로그인 폼</legend>

                                <div class="sign-in-form__id">
                                    <label for="userSignInID">아이디</label>
                                    <input type="text" id="userSignInID" name="userSignInID"
                                        placeholder="사용자 계정을 입력합니다." required aria-required="true">
                                    <!--aria-required 크로스 브라우징을 위한 aria 속성-->
                                </div>

                                <div class="sign-in-form__password">
                                    <label for="userSignInPassword">패스워드</label>
                                    <input type="password" id="userSignInPassword" name="userSignInPassword"
                                        placeholder="사용자 계정 비밀번호를 입력합니다." required aria-required="true">
                                </div>

                                <button type="submit" class="sign-in-button">로그인</button>


                                <!-- 토글 제작 예정 -->
                                <div class="sign-in-option">
                                    <div class="option-save">
                                        <input type="checkbox" id="userIDSave" class="option-input">
                                        <label for="userIDSave">아이디 저장</label>
                                    </div>
                                    <div class="option-maintain">
                                        <input type="checkbox" id="signInMaintain" class="option-input">
                                        <label for="signInMaintain">로그인 상태 유지</label>
                                    </div>
                                </div>

                            </fieldset>
                        </form>

                        <ul class="sign-in__warning">
                            <li><small>타 사이트와 비밀번호를 동일하게 사용할 경우 도용의 위험이 있으므로, 사용자 정보 보호를 위해 정기적인 비밀번호 변경을 요청
                                    드립니다.</small></li>
                            <li><small>Cafe W 공식 홈페이지는 Internet Explorer 9.0 이상, Chrome, Firefox, Safari, Edge 브라우저에 최적화
                                    되어있습니다.</small>
                            </li>
                        </ul>
                    </div>

                    <footer class="sign-in__footer">
                        <ul class="member-list reset-list">
                            <li><a href="./signUp.html">회원가입</a></li>
                            <li><span class="divider" aria-hidden="true">ㅣ</span><a href="#">아이디 찾기</a></li>
                            <li><span class="divider" aria-hidden="true">ㅣ</span><a href="#">비밀번호 찾기</a></li>
                        </ul>
                    </footer>

                </section>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <footer class="app-footer">
        <ul class="app-footer__guide-list reset-list">
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">멤버스 이용약관</a></li>
            <li><a href="#">가맹 안내</a></li>
            <li><a href="#">대량 쿠폰판매</a></li>
            <li><a href="#">채용 안내</a></li>
            <li><a href="#">고객의 소리</a></li>
            <li><a href="#">사이트맵</a></li>
        </ul>
        <div class="app-footer__brand">
            <img src="./image/footer/CafeW(Vertical).svg" alt="Cafe W logo">
        </div>
        <address class="app-footer__address">
            <span>
                <span>서울시 강남구 테헤란로 10길 18 K&I 타워 카페W (2F)</span>
                <span class="divider" aria-hidden="true">ㅣ</span>
                <span>연락처 : 02-6951-2121</span>
            </span>
            <!-- 줄바꿈 -->
            <span class="white-space">
                <span>사업자 등록번호 : 107-86-16302</span>
                <span class="divider" aria-hidden="true">ㅣ</span>
                <span>통신판매업 신고 : 강남 제 002519호</span>
                <span class="divider" aria-hidden="true">ㅣ</span>
                <span>대표이사 : 김데레사</span>
            </span>
            <!-- divder 스크린리더 읽음 방지 -->
        </address>
        <small class="copyright">
            © 2020 CAFE W COMPANY. ALL rights reserved.
        </small>
        <button type="button" class="button-goToTop">
            <svg width="88" height="89" viewBox="0 0 88 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>페이지 상단 이동</title>
                <g filter="url(#filter0_d)">
                <circle cx="44" cy="30" r="30" fill="#E27762"/>
                </g>
                <path d="M43 41C43 41.5523 43.4477 42 44 42C44.5523 42 45 41.5523 45 41L43 41ZM44.7071 18.2929C44.3166 17.9024 43.6834 17.9024 43.2929 18.2929L36.9289 24.6569C36.5384 25.0474 36.5384 25.6805 36.9289 26.0711C37.3195 26.4616 37.9526 26.4616 38.3431 26.0711L44 20.4142L49.6569 26.0711C50.0474 26.4616 50.6805 26.4616 51.0711 26.0711C51.4616 25.6805 51.4616 25.0474 51.0711 24.6569L44.7071 18.2929ZM45 41L45 19L43 19L43 41L45 41Z" fill="#FFFCF9"/>
                <defs>
                <filter id="filter0_d" x="0" y="0" width="88" height="89" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="15"/>
                <feGaussianBlur stdDeviation="7"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.691667 0 0 0 0 0.331725 0 0 0 0 0.2075 0 0 0 0.3 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                </defs>
                </svg>
        </button>
    </footer>

</body>

</html>